body {
    background: lightgray;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;

    font-size: 8px;
    color:black;
  }
  

#navBar {
  display: flex;
  width: 100vw;
}


  #cardCount {
    font-size: .7rem;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 8px;
    height: 30px;
    width: 110px;
    align-items: center;
    justify-content: left;
    display: inline-flex;
    background-color: whitesmoke;
    color: darkslategray;
    border: 2px inset darkgray;
  }


  .icon {
    display: flex;
    width: 60px;
    height: 45px;
    border: 2px double black;
    border-radius: 5px;
    padding: 3px;
    margin-right: 10px;
    box-shadow: 1px 1px 5px black, 0px 0px 5px darkgray, 0px 0px 5px lightgray inset;
    
    font-size: medium;
    color: black;
    justify-content: center;
    align-items: center;
  }

  .inactive {
    color: darkslategray;
    background: #afafaf;
  }

  .active {
    color: gray;
    background: whitesmoke;
  }

  .active:hover {
    color: blue;
    background: white;
  }

/* THEME MENU */

.styleSelector,
form {
  background: whitesmoke;
  border-color: black;
  border-style: solid;
  border-top: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 1px 1px 5px black, 0px 0px 5px darkgray, 0px 0px 5px lightgray inset;

  padding: 10px;
  margin-top: -10px;

  font-size: medium;
}



.dropButton {
  justify-self: center;
  font-size: 1.5rem;
  width: 150px;
  cursor: pointer;
}

.styleSelector {
  background: linear-gradient(to right, whitesmoke, whitesmoke, lightgray, gray);
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding-left: 15px;
}

.styleSelector:hover {
  background: whitesmoke;
}

.styleContent {
  display: none;
}

.styleContent a {
  display: block;
  text-decoration: none;
}

.styleSelector:hover .styleContent{
  display: block;
}

/* FLASH_CARD */

.flashCard {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0px 0px 20px lightgray, 0px 0px 10px lightgray;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 30vh;
    padding: 20px;
    margin: 20px;
    border: 2px solid black;
    background:whitesmoke;
    box-shadow: 5px 5px 10px black, 0px 0px 20px darkgray, 0px 0px 15px lightgray inset;
    cursor: pointer;
  }


#baseInfo {
font-size: .7em;
}


#term {
display: flex;
flex-direction: column;
height: auto;
font-size: 5em;
}

#definition {
  font-size: 4em;
  display: none;
}

/* OTHER SIZE DEVICES */

@media (max-width: 700px) {
body {
  font-size: 10px;
}
}