/* @font-face {
    font-family: Modak;
    font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Modak&display=swap'); 
}  */


body {
    background: linear-gradient(to bottom right, lime, yellow, #Ffcc00, #ff6633, #ff0066 );
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;

    font-size: 12px;
    color: whitesmoke;
  }
  

#navBar {
  display: flex;
  width: 100vw;
}


  #cardCount {
    font-weight: bold;
    font-size: .8rem;
    text-shadow: 0px 0px 5px black;
    color: yellow;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 8px;
    height: 30px;
    width: 125px;
    align-items: center;
    justify-content: left;
    display: inline-flex;
    background-color: #ff0099;
    
    border: 3px inset #83f52c;
    border-radius: 15px;
  }

  .icon {
    display: flex;
    width: 50px;
    height: 50px;
    border: 3px solid black;
    border-radius: 50%;
    padding: 3px;
    margin-right: 10px;
    box-shadow: 5px 5px 10px lime, 
                0px 0px 20px lime, 
                0px 0px 10px yellow, 
                0px 0px 5px darkslateblue inset;

    font-size: large;
    color: black;
    justify-content: center;
    align-items: center;
  }

  .inactive {
    color: darkslategray;
    background: darkslateblue;
  }
  
  .active {
    color: black;
    background: #83f52c;
    border: 3px solid #83f52c;
    box-shadow: 0px -5px 2px yellow inset,
                0px 5px 2px green inset;
    transition: box-shadow 3s;
  }
  
  .active:hover {
    color: black;
    background: #83f52c;
    border: 3px solid #83f52c;
    box-shadow: 0px 5px 2px yellow inset,
                0px -5px 2px green inset;
  }

  .styleSelector,
  form {
    text-shadow: 0px 0px 5px black;
    color: yellow;
    background: #ff0099;
    border-color: #ff0099;
    border-style: solid;
    border-top: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 1px 1px 5px black, 
                0px 0px 5px darkgray, 
                0px 0px 5px lightgray inset;

    padding: 10px;
    margin-top: -10px;

    font-size: medium;
  }

  /* THEME MENU */

  .dropButton {
    justify-self: center;
    font-size: 1.5rem;
    width: 150px;
    cursor: grabbing;
  }
  
  .styleSelector {
    position: relative;
    display: inline-flex;
    cursor: pointer;

  }
  
  .styleContent {
    display: none;    

  }
  
  .styleContent a {
    display: block;
    text-decoration: none;
  }
  
  .styleSelector:hover .styleContent{
    display: block;
  }

  /* FLASH CARD */

  @keyframes spotlight {
    0%   {text-shadow:  0px 0px 7px black, -10px -10px 3px yellow, -20px -20px 5px yellowgreen;}
    25%  {text-shadow:  0px 0px 7px black, 10px -10px 3px yellow, 20px -20px 5px yellowgreen;}
    50%  {text-shadow:  0px 0px 7px black, 10px 10px 3px yellow, 20px 20px 5px yellowgreen;}
    75%  {text-shadow:  0px 0px 7px black, -10px 10px 3px yellow, -20px 20px 5px yellowgreen;}
    100% {text-shadow:  0px 0px 7px black, -10px -10px 3px yellow, -20px -20px 5px yellowgreen;}
  }

.flashCard {
    color: #ff6600;
    font-family: Ranchers, cursive;
    text-shadow:  0px 0px 7px black,
                  10px 10px 30px yellow,
                  -10px -10px 30px yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 30vh;
    padding: 20px;
    margin: 20px;
    border: 5px inset #83f52c;
    border-bottom-color: #Ffcc00;
    border-right-color: #ff0099;
    background:black;
    cursor: grab;
    animation-name: spotlight;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#term {
display: flex;
flex-direction: column;
height: auto;
font-size: 2rem;
}

#baseInfo {
font-size: 1.4rem;
}

#definition {
  font-size: 2.5rem;
  display: none;
}



#navBar {
  display: flex;
  width: 100vw;
}



#version {
  color: lightblue;
  font-size: 10px;
  order: 1;
}

@media (max-width: 700px) {
body {
  font-size: 10px;
}
}