body {
    background: dodgerblue;
    color: whitesmoke;
  }
  
.flashCard {
    display: flex;
    font-family: 'Architects Daughter', cursive;
    justify-content: center;
    align-items: center;
    
    
    width: 80vw;
    height: 20vh;
    padding: 20px;
    margin: 20px;
    border: 2px solid black;
    background: wheat;
    box-shadow: 5px 5px 10px blue, 0px 0px 20px dodgerblue, 0px 0px 10px cornflowerblue, 0px 0px 5px black inset;

    color: black;
  }

#term {
  font-size: 500%;
}

#definition {
  font-size: 200%;
}

#cardCount {
  height: 30px;
  width: 100px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  background-color: black;
  color: whitesmoke;
}

.icon {
  color: lime;
  border: 2px double black;
  padding: 3px;
  box-shadow: 5px 5px 10px blue, 0px 0px 20px dodgerblue, 0px 0px 10px cornflowerblue, 0px 0px 5px black inset;
}

#inactive {
  color: gray;
  background: lightgrey;
}

#inactive:hover {
  color: red;
  background: white;
}