body {
    background: dodgerblue;
    
    font-size: 12px;
    color: whitesmoke;
  }
  
.flashCard {
    color: black;
    font-family: 'Architects Daughter', cursive;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 30vh;
    padding: 20px;
    margin: 20px;
    border: 2px solid black;
    background: wheat;
    box-shadow: 5px 5px 10px blue, 0px 0px 20px dodgerblue, 0px 0px 10px cornflowerblue, 0px 0px 5px black inset;

    
  }

#term {
  font-size: 5em;
}

#definition {
  font-size: 4em;
  display: none;
}

#cardCount {
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 8px;
  height: 30px;
  width: 110px;
  align-items: center;
  justify-content: left;
  display: inline-flex;
  background-color: black;
  color: whitesmoke;
  border: 2px inset darkgray;
}

#navBar {
  display: flex;
  width: 100vw;
}

.icon {
  color: lime;
  border: 2px double black;
  padding: 3px;
  margin-right: 10px;
  box-shadow: 5px 5px 10px blue, 0px 0px 20px dodgerblue, 0px 0px 10px cornflowerblue, 0px 0px 5px black inset;
}

#inactive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  color: gray;
  background: lightgrey;
}

#active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  color: gray;
  background: lightgrey;
}

#active:hover {
  color: red;
  background: white;
}

#version {
  color: lightblue;
  font-size: 10px;
  order: 1;
}

@media (max-width: 700px) {
body {
  font-size: 10px;
}
}